:root {
  /*colors*/
  --mainColor: #ffe0d7;
  --mainColor50: #ffe0d788;
  --mainColor30: #ffe0d74d;
  --hoverColor: #ffc4b2;
  --hoverOpacytiColor: #ffc4b288;
  --textColor: #282828;
  --textColor10: #2828284d;
  --activeColor: #ff8760;
  --activeColor50: #ff876088;
  --starColor: #ffb800;
  --defColor: #ffe0d7;
  --backgroundColor: #fff6f3;
  --shadowColor: #ffe0d766;
  --borderColor: #ffffff;
  --borderShadowColor: #0000000d;
  --whiteColor: #ffffff;
  --disabledColor: #dfdfdf;
  --disabledDarkColor: #aba7af;
  --disabledTextColor: #b8b8b8;
  --errorColor: #d51a52;
  --errorLigthColor: #e8a1b6;
  --inputBorderColor: #e5e0eb;
  --backgroundOpacity: #3333339e;
}
